<nav>
    <h1> logo</h1>
    <ul class="main-nav">
        <li><a href="index">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <a href="eventadd"><button class="btn-zoek">Voeg event toe</button></a>
</nav>