<form action="zoekresultaat" method="post" id="survey-form" class="survey">

    <h2 class="survey__panel__question">
      Wat voor soort car meeting zoek je?
    </h2>
    <div class="survey__panel__period">
      <div class="form-group">
        <input  type="radio" name="soort" value="JDM cars" />
        <label for="lessthenoneyear">JDM cars</label>
      </div>
      <div class="form-group">
        <input type="radio" name="soort" value="Sportwagen" />
        <label for="onetotwoyears">Sportwagen</label>
      </div>
      <div class="form-group">
        <input id="morethentwoyears" type="radio" name="soort" value="Supercar" />
        <label for="morethentwoyears">Supercar</label>
      </div>
    </div>

    <h2 class="survey__panel__question">
      Hoe groot moet de meeting zijn?
    </h2>
    <div class="survey__panel__satisfaction">
      <div class="form-group">
        <input id="notsatified" type="radio" class="radiobox" name="grootte" value="30" />
        <label for="notsatified">1 - 30</label>
      </div>
      <div class="form-group">
        <input id="quitesatisfied" type="radio" class="radiobox" name="grootte" value="60" />
        <label for="quitesatisfied">30 - 60</label>
      </div>
      <div class="form-group">
        <input id="completelysatisfied" type="radio" class="radiobox" name="grootte" value="999" />
        <label for="completelysatisfied">Maakt niet uit</label>
      </div>
    </div>

    <h2 class="survey__panel__question">
      Hoe ver wil je reizen?
    </h2>
    <div class="survey__panel__hearabout">
      <div class="form-group">
        <input type="radio" class="radiobox" id="searchengine" name="reistijd" value="25" />
        <label for="searchengine">1km - 25km</label>
      </div>
      <div class="form-group">
        <input type="radio" class="radiobox" id="friend" name="reistijd" value="50" />
        <label for="friend">1km - 50km </label>
      </div>
      <div class="form-group">
        <input type="radio" class="radiobox" id="socialmedia" name="reistijd" value="999" />
        <label for="socialmedia">Maakt niet uit</label>
      </div>
    </div>

    <h2 class="survey__panel__question">
      Vul uw gegevens in
    </h2>
    <div class="survey__panel__personaldetails">
      <div class="form-group">
        <label for="name" id="name-label" class="name">Naam:</label>
        <input type="text" id="name" name="name" required placeholder="Uw naam" />
      </div>
      <div class="form-group">
        <label for="email" id="email-label" class="email">Email:</label>
        <input type="email" id="email" name="email" required placeholder="Jouw e-mailadress" />
      </div>
      <div class="form-group">
        <select name="country" id="dropdown" name="country">
          <option value>Jouw land</option>
          <option value="Belgium">Belgie</option>
          <option value="France">Frankrijk</option>
          <option value="Germany">Duitsland</option>
          <option value="Italy">Italie</option>
          <option value="Netherlands">Nederland</option>
          <option value="Spain">Spanje</option>
          <option value="United Kingdom">Veringd Koninkrijk</option>
        </select>
      </div>
    </div>

  <div class="form-buttons">
    <button class="button" type="submit" id="submit" name="submit">
      Submit
    </button>
  </div>
</form>