<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>

    <section class="form-voorkeur">

        <h2> Zoek jouw event</h2>

        <%- include('content.ejs') %>

    </section>

    <!-- <aside class="side-menu">
        <h3>Geselecteerde voorkeuren</h3>
        <form action="" class="side-form">
            <label for="eerste">eerste optie</label>
            <select name="">
                <option value=""></option>
                <option></option>
                <option></option>
            </select>
            <label for="eerste">tweede optie</label>
            <select>
                <option></option>
                <option></option>
                <option></option>
            </select>
            <label for="eerste">derde optie</label>
            <select>
                <option value=""></option>
                <option></option>
                <option></option>
            </select>

        </form>
    </aside> -->
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

<script src="js/index.js"></script>
</body>
</html>